@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/iranyekan-cufonfonts/Qs_Iranyekan.ttf') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 700;
  src: url(../src/assets/iranyekan-cufonfonts/Qs_Iranyekan\ medium.ttf) format('truetype');
}

html,
body {
  direction: rtl;
  font-family: 'IranYekan', sans-serif;
  @apply overflow-x-hidden
}

.dir-ltr {
  direction: ltr;
}
